[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
[submodule "libraries/SerialUI"]
	path = libraries/SerialUI
	url = https://github.com/psychogenic/SerialUI
[submodule "libraries/EEPROMEx"]
	path = libraries/EEPROMEx
	url = https://github.com/thijse/Arduino-EEPROMEx
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "libraries/arduino-multi-button"]
	path = libraries/arduino-multi-button
	url = https://github.com/poelstra/arduino-multi-button.git
